#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.line {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.box {
  width: 50px;
  height: 50px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  margin-right: 5px;
  border-radius: 5px;
}

@keyframes tileAnimate {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(90deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

@keyframes wiggle {
  0% {
    transform: translateX(0);
  }
  15% {
    transform: translateX(-3px);
  }
  30% {
    transform: translateX(3px);
  }
  45% {
    transform: translateX(-3px);
  }
  60% {
    transform: translateX(3px);
  }
  75% {
    transform: translateX(-3px);
  }
  100% {
    transform: translateX(0);
  }
}

.box.correct {
  animation: tileAnimate 0.5s ease-in-out;
  background-color: rgb(83, 212, 83);
  color: white;
}

.box.present {
  animation: tileAnimate 0.5s ease-in-out;
  background-color: rgb(231, 228, 32);
  color: black;
}

.box.absent {
  animation: wiggle 0.5s ease-in-out;
  background-color: gray;
  color: white;
}

.message-error {
  color: red;
  font-size: 1.2rem;
}
.message-success {
  color: green;
  font-size: 1.2rem;
}

.refresh-button img {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  vertical-align: middle;
}

.refresh-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  border-radius: 4px;
  background: #4a4a4a;
  color: white;
  border: none;
  cursor: pointer;
}

.refresh-button:hover {
  background: #5a5a5a;
}
